@import "bootstrap-grid.css";
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 6px 0px;
}
button {
  font-size: 12px;
}
#client-settings section.content .submenu > button {
  font-size: 10px;
}
p.notes {
  font-size: 10px;
  margin: unset;
}
form .form-group > label {
  font-size: 12px;
}
div#module-management,
div#controls-reference {
  font-family: "Signika", sans-serif;
  font-size: 14px;
  font-variant: normal;
}
a.item {
  font-size: 10px;
  font-weight: bold;
}
#combat #combat-round .encounters h4 {
  font-size: 20px;
}
#combat li.combatant .token-name h4 {
  line-height: 18px;
  font-size: 13px;
}
#chat-controls .control-buttons a {
  width: unset;
  padding: unset;
}
#chat-controls .control-buttons {
  flex: unset;
}
#chat-log .message .message-header .message-metadata {
  font-size: 11px;
}
#combat h3,
#combat h4 {
  padding: 0;
}
.hgss-box {
  border: black solid 1px;
  box-shadow: 0px 0px 4px 1px black;
  background: #E0E8E8;
  word-break: break-all;
}
.hgss-box .hgss-header {
  padding: 2px 5px;
  background: #8898A8;
  display: flex;
}
.hgss-box .hgss-header.vertical {
  height: 100%;
  align-items: center;
}
.hgss-box .hgss-body {
  padding: 2px 5px;
  display: flex;
  flex-wrap: wrap;
}
.name-label {
  content: "";
  width: 35px;
  background: url("images/pokeball-hgss.png") no-repeat !important;
  background-size: contain !important;
  padding-right: 5px;
}
.level {
  content: "";
  width: 26px;
  background: url("images/lvl.png") no-repeat !important;
  background-size: contain !important;
  margin: 0 5px 0 10px;
  position: relative;
  bottom: -8px;
  left: -12x;
}
.options .hp {
  width: 6rem;
  background: url("images/hp.png") no-repeat !important;
  background-size: contain !important;
  margin: 0 5px 0 0px;
  position: relative;
  left: 3px;
  bottom: -10px;
  font-weight: bold;
}
.actor .window-content,
.edge .window-content,
.feat .window-content,
.ability .window-content,
.item .window-content,
.move .window-content,
.form .window-content,
.token-sheet .window-content,
.scene-sheet .window-content {
  background: #E0E8E8 !important;
}
.window-app .window-content {
  background: #E0E8E8;
}
.stat-block {
  border: 1px solid black;
  box-shadow: 0px 0px 3px 1px;
  border-radius: 3%;
}
.panel.character {
  background: #F06058;
  border-radius: 0 7% 7% 0;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 0px 3px 1px black;
  border: black solid 2px;
}
.macro-sheet {
  font-family: "Signika", sans-serif;
  font-size: 14px;
}
.container-fluid > .sheet-footer {
  position: absolute;
  left: 0;
  bottom: -45px;
  padding: 0px 20px;
  width: 100%;
}
.container-fluid > .sheet-footer .tabs {
  padding-right: 8px;
}
.container-fluid > .sheet-footer .tabs li {
  float: left;
}
.container-fluid > .sheet-footer .tabs ul {
  display: inline;
}
.grid {
  display: grid;
  column-gap: 8px;
  row-gap: 3px;
}
.grid.character {
  grid-template: "panel profile" "panel extra" "tabs tabs" / 65% 35%;
}
.grid.profile {
  grid-area: profile;
}
.grid.profile.character {
  display: grid;
  grid-template: "nametag" "avatar" "helditem";
  padding-right: 8px;
}
.grid.profile .nametag {
  grid-area: nametag;
}
.grid.profile .avatar {
  text-align: center;
  grid-area: avatar;
}
.grid.profile .avatar img {
  max-width: 75%;
  max-height: auto;
}
.grid.profile .helditem {
  grid-area: helditem;
}
.grid.panel {
  grid-area: panel;
}
.grid.panel.character {
  display: grid;
  grid-template: "stats" "abilities" "moves";
  background: #F06058;
  border-radius: 0 8% 8% 0;
  justify-content: center;
  padding: 0 10px;
  box-shadow: 1px 1px 10px 2px black;
  border: black solid 3px;
}
.grid.panel .skills {
  grid-area: stats;
}
.grid.panel .abilities {
  grid-area: abilities;
}
.grid.panel .moves {
  grid-area: moves;
}
.grid.extra {
  grid-area: extra;
  padding-right: 8px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.skill-block .header {
  text-align: center;
  font-weight: bold;
}
.skill-block .row {
  white-space: nowrap;
}
.skill-block .row .skill.bgcolor {
  padding: 12px 5px;
}
.skill-block .row .type--body {
  background-color: #e06666aa;
}
.skill-block .row .type--mind {
  background-color: #ffe599aa;
}
.skill-block .row .type--spirit {
  background-color: #93c47daa;
}
.skill-block .row .skill--Pathetic {
  background: #cfe2f3;
}
.skill-block .row .skill--Untrained {
  background: #9fc5e8;
}
.skill-block .row .skill--Novice {
  background: #6fa8dc;
}
.skill-block .row .skill--Adept {
  background: #3d85c6;
}
.skill-block .row .skill--Expert {
  background: #0b5394;
  color: #cfe2f3;
}
.skill-block .row .skill--Master {
  background: #073763;
  color: #cfe2f3;
}
.skill-block .row .skill--Virtuoso {
  background: #e9be25;
}
.skill-block .row .skill--Invalid {
  background: #ff0F0Faa;
}
.stat-block .row.header {
  text-align: center;
  background: #E0E8E8;
  font-weight: bold;
}
.stat-block .row .key {
  padding: 13px 0 12px 5px;
}
.stat-block .row .key.hp,
.stat-block .row .key.def,
.stat-block .row .key.spdef {
  background: #788898;
}
.stat-block .row .key.atk,
.stat-block .row .key.spatk,
.stat-block .row .key.spd,
.stat-block .row .key.stat-header {
  background: #8898A8;
}
.stat-block .row.hp,
.stat-block .row.def,
.stat-block .row.spdef {
  background: #C8D0D8;
}
.stat-block .row.atk,
.stat-block .row.spatk,
.stat-block .row.spd {
  background: #E0E8E8;
}
.stats {
  width: 100%;
  align-self: center;
  justify-self: center;
}
.stats.stat-block {
  background: #607888;
  border-radius: 2%;
  padding: 3px;
}
.stats.grid {
  display: grid;
  column-gap: 1px;
  row-gap: 3px;
  background: #E0E8E8;
  border-radius: 2%;
  padding: 3px 10px;
}
.stats.grid.pokemon {
  grid-template: [row1-start] "stats-header base-header mod-header levelUp-header stage-header total-header" 25px [row1-end] [row2-start] "hp hp-base hp-mod hp-levelUp . hp-total" 25px [row2-end] [row3-start] "atk atk-base atk-mod atk-levelUp atk-stage atk-total" 25px [row3-end] [row4-start] "def def-base def-mod def-levelUp def-stage def-total" 25px [row4-end] [row5-start] "spatk spatk-base spatk-mod spatk-levelUp spatk-stage spatk-total" 25px [row5-end] [row6-start] "spdef spdef-base spdef-mod spdef-levelUp spdef-stage spdef-total" 25px [row6-end] [row7-start] "spd spd-base spd-mod spd-levelUp spd-stage spd-total" 25px [row7-end] / 15% 15% 15% 15% 15% 25%;
}
.stats.grid.player {
  grid-template: [row1-start] "stats-header base-header mod-header levelUp-header total-header" 25px [row1-end] [row2-start] "hp hp-base hp-mod hp-levelUp hp-total" 25px [row2-end] [row3-start] "atk atk-base atk-mod atk-levelUp atk-total" 25px [row3-end] [row4-start] "def def-base def-mod def-levelUp def-total" 25px [row4-end] [row5-start] "spatk spatk-base spatk-mod spatk-levelUp spatk-total" 25px [row5-end] [row6-start] "spdef spdef-base spdef-mod spdef-levelUp spdef-total" 25px [row6-end] [row7-start] "spd spd-base spd-mod spd-levelUp spd-total" 25px [row7-end] / 15% 20% 20% 20% 25%;
}
.stats.header {
  text-align: center;
}
.stats.header.stats {
  grid-area: stats-header;
}
.stats.header.base {
  grid-area: base-header;
}
.stats.header.mod {
  grid-area: mod-header;
}
.stats.header.levelUp {
  grid-area: levelUp-header;
  font-size: 10px;
}
.stats.header.stage {
  grid-area: stage-header;
}
.stats.header.total {
  grid-area: total-header;
}
.stats.base,
.stats.mod,
.stats.stage,
.stats.total {
  padding: 5px;
}
.stats.hp {
  grid-area: hp;
}
.stats.hp.base {
  grid-area: hp-base;
}
.stats.hp.mod {
  grid-area: hp-mod;
}
.stats.hp.stage {
  grid-area: hp-stage;
}
.stats.hp.total {
  grid-area: hp-total;
}
.stats.hp.levelUp {
  grid-area: hp-levelUp;
}
.stats.atk {
  grid-area: atk;
}
.stats.atk.base {
  grid-area: atk-base;
}
.stats.atk.mod {
  grid-area: atk-mod;
}
.stats.atk.stage {
  grid-area: atk-stage;
}
.stats.atk.total {
  grid-area: atk-total;
}
.stats.atk.levelUp {
  grid-area: atk-levelUp;
}
.stats.def {
  grid-area: def;
}
.stats.def.base {
  grid-area: def-base;
}
.stats.def.mod {
  grid-area: def-mod;
}
.stats.def.stage {
  grid-area: def-stage;
}
.stats.def.total {
  grid-area: def-total;
}
.stats.def.levelUp {
  grid-area: def-levelUp;
}
.stats.spatk {
  grid-area: spatk;
}
.stats.spatk.base {
  grid-area: spatk-base;
}
.stats.spatk.mod {
  grid-area: spatk-mod;
}
.stats.spatk.stage {
  grid-area: spatk-stage;
}
.stats.spatk.total {
  grid-area: spatk-total;
}
.stats.spatk.levelUp {
  grid-area: spatk-levelUp;
}
.stats.spdef {
  grid-area: spdef;
}
.stats.spdef.base {
  grid-area: spdef-base;
}
.stats.spdef.mod {
  grid-area: spdef-mod;
}
.stats.spdef.stage {
  grid-area: spdef-stage;
}
.stats.spdef.total {
  grid-area: spdef-total;
}
.stats.spdef.levelUp {
  grid-area: spdef-levelUp;
}
.stats.spd {
  grid-area: spd;
}
.stats.spd.base {
  grid-area: spd-base;
}
.stats.spd.mod {
  grid-area: spd-mod;
}
.stats.spd.stage {
  grid-area: spd-stage;
}
.stats.spd.total {
  grid-area: spd-total;
}
.stats.spd.levelUp {
  grid-area: spd-levelUp;
}
.levelUpPoints {
  align-items: center;
  text-align: center;
}
.levelUpPoints input {
  color: white;
}
input[name="data.money"] {
  background-image: url(/systems/ptu/css/images/Pokémon_Dollar_sign.svg);
  padding-left: 20px;
  background-size: 12px 16px;
  background-repeat: no-repeat;
  background-position: 2px 4px;
}
.rollable:hover {
  text-shadow: 0 0 10px #ff0000a0;
  cursor: pointer;
}
.dice-tooltip .dice-rolls .roll {
  width: 32px;
  line-height: 23px;
  margin-right: unset;
  background-size: cover;
  font-size: 12px;
}
.skill.col-sm-2 {
  padding-left: 15px !important;
}
.rollable .fa-dice-d20 {
  position: absolute;
  left: 3px;
}
.hgss-body .editor {
  width: 100%;
  min-height: 90px;
}
.hgss-body .editor .editor-content {
  max-height: 200px;
}
.editor .tox .tox-tbtn {
  height: 24px;
  width: 24px;
  margin-left: 1px;
}
.editor .tox .tox-tbtn--select {
  width: auto;
}
.hgss-box.red {
  background: #EA9999;
}
.hgss-box.red .hgss-header {
  background: #E06666;
}
.hgss-box.yellow {
  background: #FFE599;
}
.hgss-box.yellow .hgss-header {
  background: #FFD966;
}
.hgss-box.purple {
  background: #D5A6BD;
}
.hgss-box.purple .hgss-header {
  background: #C27BA0;
}
.hgss-box.green {
  background: #B6D7A8;
}
.hgss-box.green .hgss-header {
  background: #93C47D;
}
.itemBox {
  background: url(/systems/ptu/css/images/item-box.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
}
.itemBox img.content {
  position: relative;
  left: 60px;
  top: 23px;
}
.itemBox .content {
  position: absolute;
  left: 64px;
  top: 14px;
  max-width: 635px;
  word-break: break-word;
  max-height: 123px;
  overflow: auto;
  padding-left: 1px;
  padding-right: 5px;
  line-height: 13px;
}
.itemBox .content.with-image {
  max-width: 530px;
  left: 180px;
  padding-right: 7px;
}
span.readable {
  white-space: pre-wrap;
}
.readable {
  font-family: monospace;
  font-variant: normal;
  font-size: 13px;
}
.readable.p8 {
  font-size: 8px;
}
.readable.p9 {
  font-size: 9px;
}
.readable.p10 {
  font-size: 10px;
}
.readable.p11 {
  font-size: 11px;
}
.readable.p12 {
  font-size: 12px;
}
.readable.p14 {
  font-size: 14px;
}
.readable.p15 {
  font-size: 15px;
}
.readable.p16 {
  font-size: 16px;
}
.readable.pokemon {
  font-family: "Pokemon GB";
}
.item-effect {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.flexrow > * {
  flex: 1;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.actor .inventory-list:not(.inventory-header) .item:nth-child(odd) {
  background: #8898a8b3;
}
.actor .inventory-list:not(.inventory-header) .item:nth-child(even) {
  background: #788898cc;
}
.actor .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
}
.actor .inventory-list .item-summary {
  padding: 0.5rem;
  border-top: 1px solid #ffffff13;
  flex: 0 0 100%;
}
.actor .inventory-list .inventory-header {
  padding-top: 0;
  border: none;
  margin: 0 0 0.25rem 0;
  line-height: 20px;
  background: transparent;
  font-weight: bold;
}
.actor .inventory-list .inventory-header h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.actor .inventory-list .item-amount {
  flex: 0 0 70px;
  align-self: center;
  margin-right: 5px;
}
.actor .inventory-list .item-controls {
  flex: 0 0 55px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}
.actor .inventory-list .item-controls a {
  flex: 0 0 18px;
  font-size: 12px;
  text-align: center;
}
.actor .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.actor .inventory-list .item {
  padding: 0;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  margin: 2px 0;
}
.actor .inventory-list .item .item-name {
  max-height: unset;
  cursor: default;
  flex-wrap: nowrap;
  overflow: hidden;
}
.actor .inventory-list .item .item-name h4 .info-icon {
  margin-left: 6px;
  font-size: 14px;
  transition: color 0.3s ease;
  position: relative;
  top: 1px;
}
.actor .inventory-list .item .item-name h4:hover .info-icon {
  color: #00000038;
}
.actor .inventory-list .inventory-header .item-controls a.item-create {
  background: #ffffffa6;
  border-radius: 5px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 18px;
  padding-top: 2px;
  flex: 0 0 100%;
}
.actor .inventory-list .item-controls a.item-create:hover {
  background: #788898cc;
  text-shadow: unset;
}
.content.move-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 18% 32%;
  grid-row-gap: 4px;
  word-break: break-word;
}
.content.move-grid span:nth-child(7) {
  grid-column: 1 / 5;
  grid-row: 5 / 5;
}
.ui-autocomplete {
  z-index: 500 !important;
}
.error-text {
  background: #ff000060 !important;
}
.rollable.gen8move {
  text-align: center;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.rollable.itemInline {
  flex: unset;
  width: 30px;
  height: 42px;
  text-align: center;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.readable.tight {
  line-height: 20px;
  word-break: break-word;
}
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-90 {
  height: 90% !important;
}
.h-100 {
  height: 100% !important;
}
.mw-100 {
  max-width: 100% !important;
}
.mh-100 {
  max-height: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}
.m-auto {
  margin: auto !important;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.center-text {
  text-align: center;
}
.lh-16 {
  line-height: 16px;
}
/* Bootstrap Collapse */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
/* The Furnace Macro Sheet Compatability */
.macro-sheet .form-group.command .furnace-macro-command textarea,
.macro-sheet .form-group.command .furnace-macro-command code {
  font-variant: normal;
}
/* Freeware Font Credits: https://www.fontspace.com/jackster-productions/pokemon-gb */
@font-face {
  font-family: "Pokemon GB";
  src: url("fonts/Pokemon GB.woff") format("woff");
  src: url("fonts/Pokemon GB.ttf") format("truetype");
}
@font-face {
  font-family: "Press Start 2P";
  src: url("fonts/PressStart2P-Regular.woff") format("woff");
  src: url("fonts/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pokemon Unown GB";
  src: url("fonts/Pokemon Unown GB.woff") format("woff");
  src: url("fonts/Pokemon Unown GB.ttf") format("truetype");
}
@font-face {
  font-family: "Pokemon GB Japan KT";
  src: url("fonts/Pokemon GB Japan KT.woff") format("woff");
  src: url("fonts/Pokemon GB Japan KT.ttf") format("truetype");
}
@font-face {
  font-family: "Pokemon GB Japan HR";
  src: url("fonts/Pokemon GB Japan HR.woff") format("woff");
  src: url("fonts/Pokemon GB Japan HR.ttf") format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.framed {
  position: relative;
  -o-border-image: url("images/frame-hd.png") 42 round;
  border-image: url("images/frame-hd.png") 42 round;
  border-width: 21px;
  border-style: solid;
  padding: 1em;
  margin: 1em 0 0 0;
}
.framed.no-hd {
  -o-border-image: url("images/frame.png") 7 round;
  border-image: url("images/frame.png") 7 round;
  border-width: 7px;
}
.framed.primary {
  background: #48A058;
  color: #F8F3F8;
  text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010, 1px 1px 0 #181010;
}
.framed.primary.exclude-border {
  background-clip: padding-box;
}
.framed.secondary {
  background: #F0B088;
  color: #F8F3F8;
  text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010, 1px 1px 0 #181010;
}
.framed.secondary.exclude-border {
  background-clip: padding-box;
}
.framed.danger {
  background: #B3181C;
  color: #F8F3F8;
  text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010, 1px 1px 0 #181010;
}
.framed.danger.exclude-border {
  background-clip: padding-box;
}
/*.stats {
  position: relative;
  border: 4px solid #181010;
  border-top: none;
  border-right: none;
  padding: 2em;
  margin-right: 64px;
}

.stats::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: '';
  width: 2px;
  height: 2px;
  font-size: 2px;
  color: #181010;
  -webkit-box-shadow: -4em -1em 0 #181010, -5em -1em 0 #181010, -4em 0 0 #181010, -5em 0 0 #181010, -3em 0 0 #181010, -2em 0 0 #181010, 1em 2em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 2em 2em 0 #181010;
  box-shadow: -4em -1em 0 #181010, -5em -1em 0 #181010, -4em 0 0 #181010, -5em 0 0 #181010, -3em 0 0 #181010, -2em 0 0 #181010, 1em 2em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 2em 2em 0 #181010;
}*/
.stats h2 {
  background-color: #F8F3F8;
  margin-left: -2em;
  margin-top: -2em;
  padding: 1em 1em 1em 0;
}
.stats-flipped {
  position: relative;
  border: 4px solid #181010;
  border-top: none;
  border-left: none;
  padding: 2em;
  margin-left: 64px;
}
.stats-flipped::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: '';
  width: 2px;
  height: 2px;
  font-size: 2px;
  color: #181010;
  -webkit-box-shadow: 5em -1em 0 #181010, 4em -1em 0 #181010, 5em 0 0 #181010, 4em 0 0 #181010, 3em 0 0 #181010, 2em 0 0 #181010, -1em 2em 0 #181010, -2em 2em 0 #181010, 2em 2em 0 #181010, 2em 2em 0 #181010;
  box-shadow: 5em -1em 0 #181010, 4em -1em 0 #181010, 5em 0 0 #181010, 4em 0 0 #181010, 3em 0 0 #181010, 2em 0 0 #181010, -1em 2em 0 #181010, -2em 2em 0 #181010, 2em 2em 0 #181010, 2em 2em 0 #181010;
}
.stats-flipped h2 {
  background-color: #F8F3F8;
  margin-left: -2em;
  margin-top: -2em;
  padding: 1em 1em 1em 0;
}
a.button,
a.button:hover,
a.button:active {
  color: #181010;
  text-decoration: none;
}
button,
.button {
  position: relative;
  font-family: "Pokemon GB";
  background: none;
  border: none;
  padding: 0 0 0 1em;
  text-transform: uppercase;
  cursor: pointer;
}
button.tox-tbtn:hover::before {
  content: unset;
}
button:hover::before,
.button:hover::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 2px;
  height: 2px;
  font-size: 2px;
  color: #181010;
  -webkit-box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010, 2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010, 2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
  box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010, 2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010, 2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
}
button.pokemon,
.button.pokemon {
  text-indent: -1000em;
  width: 100%;
  background: url("images/pkmn.png") 1em center no-repeat !important;
  background-size: contain !important;
}
button.pokemon.active,
.button.pokemon.active {
  background: url("images/pkmn-selected.png") 1em center no-repeat !important;
  background-size: contain !important;
}
.sheet-tabs > li > button::before {
  top: 20%;
}
ul.buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
ul.buttons li {
  padding: 0;
  margin: 0.5em;
}
ul.buttons.compact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
ul.buttons.compact li {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}
.progress-bar {
  position: relative;
  width: 100%;
  -o-border-image: url("images/progress-frame.png") 1 round;
  border-image: url("images/progress-frame.png") 1 round;
  border-style: solid;
  background-clip: padding-box;
  height: 9px;
}
.progress-bar.p1::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 1%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p2::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 2%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p3::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 3%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p4::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 4%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p5::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 5%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p6::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 6%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p7::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 7%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p8::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 8%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p9::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 9%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p10::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 10%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p11::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 11%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p12::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 12%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p13::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 13%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p14::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 14%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p15::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 15%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p16::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 16%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p17::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 17%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p18::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 18%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p19::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 19%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p20::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 20%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p21::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 21%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p22::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 22%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p23::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 23%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p24::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 24%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p25::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 25%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p26::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 26%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p27::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 27%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p28::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 28%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p29::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 29%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p30::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 30%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p31::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 31%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p32::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 32%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p33::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 33%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p34::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 34%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p35::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 35%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p36::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 36%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p37::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 37%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p38::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 38%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p39::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 39%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p40::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 40%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p41::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 41%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p42::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 42%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p43::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 43%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p44::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 44%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p45::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 45%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p46::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 46%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p47::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 47%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p48::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 48%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p49::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 49%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p50::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 50%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p51::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 51%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p52::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 52%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p53::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 53%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p54::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 54%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p55::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 55%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p56::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 56%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p57::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 57%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p58::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 58%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p59::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 59%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p60::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 60%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p61::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 61%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p62::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 62%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p63::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 63%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p64::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 64%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p65::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 65%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p66::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 66%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p67::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 67%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p68::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 68%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p69::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 69%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p70::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 70%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p71::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 71%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p72::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 72%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p73::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 73%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p74::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 74%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p75::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 75%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p76::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 76%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p77::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 77%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p78::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 78%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p79::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 79%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p80::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 80%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p81::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 81%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p82::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 82%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p83::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 83%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p84::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 84%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p85::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 85%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p86::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 86%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p87::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 87%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p88::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 88%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p89::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 89%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p90::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 90%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p91::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 91%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p92::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 92%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p93::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 93%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p94::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 94%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p95::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 95%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p96::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 96%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p97::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 97%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p98::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 98%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p99::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 99%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p100::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
/* Overrides for the core Foundry CSS */
form button,
#settings button {
  background: #F8F3F8 !important;
  border: none !important;
}
.sheet-tabs .item {
  text-align: left !important;
}
h2 {
  border-bottom: none;
}
.sheet .sheet-header img {
  height: 109px !important;
  widows: 109px !important;
  margin-right: 10px !important;
}
.message {
  position: relative !important;
  -o-border-image: url("images/frame.png") 7 round !important;
  border-image: url("images/frame.png") 7 round !important;
  border-width: 7px !important;
  border-style: solid !important;
  padding: 1em !important;
  margin: 1em 0 0 0 !important;
  background: #F8F3F8 !important;
}
body {
  font-family: "Pokemon GB";
  font-variant: small-caps;
  font-smooth: never;
  -webkit-font-smoothing: none;
  background: #F8F3F8;
  color: #181010;
  font-size: 11px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.opponent {
  text-align: center;
  padding: 1em;
  -webkit-animation-name: floater;
  animation-name: floater;
  -webkit-animation-duration: 6000ms;
  animation-duration: 6000ms;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
.opponent img {
  width: 64px;
}
.message span {
  font-weight: bolder;
}
/*
    Styling, specifically for the demo
*/
.github {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  background: #F8F3F8;
  padding: 2em;
}
@-webkit-keyframes floater {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(2px, 20px);
    transform: translate(2px, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes floater {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(2px, 20px);
    transform: translate(2px, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.pokeball {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-box-flex: 30px;
  -ms-flex: 30px;
  flex: 30px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: url("images/pokeball.png") no-repeat !important;
  background-size: contain !important;
}
.pokeball-spacing {
  -webkit-box-flex: 30px;
  -ms-flex: 30px;
  flex: 30px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.pokeball-shaded {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-box-flex: 30px;
  -ms-flex: 30px;
  flex: 30px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: url("images/pokeball-shaded.png") no-repeat !important;
  background-size: contain !important;
}
.level-header {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.level-header > input {
  min-width: 30px;
  max-width: 45px;
  width: fit-content;
}
.resources .hp {
  content: "";
  width: 30px;
  background: url("images/hp.png") no-repeat !important;
  background-size: contain !important;
}
.hp-info {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  padding-right: 5px;
}
.hp-info > input,
.hp-info > span {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 40px !important;
  flex: 0 0 40px !important;
}
.hp-info > span {
  text-align: center;
  font-size: 20px;
}
.stats > h2 > input {
  margin-left: 7px !important;
}
.pokemon-name {
  margin-left: 0 !important;
}
.pokemon-header-stats {
  margin-left: 40px !important;
}
.pkmn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.pkmn.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.types {
  margin-top: 2em;
  margin-left: 15px;
}
.pokemon-nav {
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
}
.header-fields {
  height: 150px;
}
.sheet-header {
  height: 150px;
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
}
.item-header {
  font-weight: bold;
  padding-bottom: 10px;
}
