.sidebar-tab .action-buttons button {
  height: unset;
  max-height: 50px;
}

#sidebar-tabs.dark-theme > .item {
  /* width: 20px !important; */
  flex: 0 0 24px !important;
}

.ptu-sidebar .window-header {
  display: none;
}
.ptu-sidebar .window-content {
  background: unset;
}
.ptu-sidebar {
  z-index: 10 !important;
}

#combat-carousel.wrapper {
  /* position: fixed;
    top: 0;
    left: 120px; */
  max-width: calc(100% - 630px) !important;
  /* max-width: calc(100% - 580px) !important; */

  /* margin: 0;
    padding: 0;
    box-shadow: none;
    border: none; */
}

#combat-carousel.wrapper.dark-theme {
  /* position: fixed;
    top: 0;
    left: 120px; */
  /* max-width: calc(100% - 630px) !important; */
  max-width: calc(100% - 580px) !important;

  /* margin: 0;
    padding: 0;
    box-shadow: none;
    border: none; */
}

body.messages-dark-theme .confetti-buttons {
  /* right: 505px !important; */
  right: 455px !important;
}

body.confetti-hidden .confetti-buttons {
  /* right: 505px !important; */
  /* right: 455px !important; */
  display: none !important;
}

#navigation {
  width: calc(100% - 640px) !important;
  /* width: calc(100% - 590px) !important; */
}

#navigation.dark-theme {
  /* width: calc(100% - 640px) !important; */
  width: calc(100% - 590px) !important;
}

body.messages-dark-theme .message {
  background-color: #808080 !important;
  padding: 0px !important;
  border-image: none !important;
  border-width: 0px !important;
}
/* .message.dark-theme {
    background-color:#808080 !important;
    padding: 0px !important;
    border-image:none !important;
    border-width: 0px !important;
  } */
/* body {
    font-family: var(--pkmnFontStyle);
    font-variant: small-caps;
    font-smooth: never;
    -webkit-font-smoothing: none;
    background: #F8F3F8;
    color: #dddddd !important;
    font-size: 11px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
  } */
/* .message-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-top: 0px !important;
  } */

body.messages-dark-theme .chat-log {
  width: 250px !important;
  margin-bottom: 5px !important;
}

#sidebar.dark-theme {
  width: 250px !important;
}

body.messages-dark-theme .message-header {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

body.messages-dark-theme .content-flexrow {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

body.messages-dark-theme .message-sender {
  font-family: "Segoe UI";
  font-size: 14px;
}

body.messages-dark-theme .flavor-text {
  font-family: "Segoe UI";
  font-size: 14px;
}

body.messages-dark-theme .message-metadata {
  padding-top: 6px;
}

body.messages-dark-theme .message-timestamp {
  font-family: "Segoe UI";
  font-size: 14px;
}

body.messages-dark-theme .message-content {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-family: "Segoe UI";
}

body.messages-dark-theme .chat-form textarea {
  /* position: relative !important;
    -o-border-image: url("images/frame.png") 7 round !important;
    border-image: url("images/frame.png") 7 round !important;
    border-width: 7px !important;
    border-style: solid !important;
    padding: 1em !important;
    margin: 1em 0 0 0 !important; */
  background-color: #808080 !important;
  /* background-image: none !important; */
  background-image: none !important;
}

body.messages-dark-theme .chat-controls .roll-type-select {
  background-color: #808080 !important;
}

/* #chat-message .message {
    padding:0px !important;
  } */

#chat-log.dark-theme {
  margin-bottom: 5px;
}

/* .ptu-sidebar .window-content {
    overflow-y: hidden !important;
  } */

.ptu-sidebar .window-content::-webkit-scrollbar {
  display: none;
}

.ptu-sidebar .window-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.movemaster-button {
  background: none !important;
}

.cameraframe-overlay {
  position: absolute;
  /* top:0px;
    left:0px; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* width: 200px; */
  /* height: 203px; */
  z-index: 6;
  border: none;
  top: 111px;
}

.cameraframe-terrain {
  position: absolute;
  /* top:0px;
    left:0px; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  width: 190px;
  height: 70px;
  z-index: 4;
  border: none;
  top: 172px;
  left: 5px;
}

.cameraframe-underlay {
  position: absolute;
  /* top:0px;
    left:0px; */
  /* background-color: rgba(88, 25, 25, 0.527); */
  width: 200px;
  height: 200px;
  z-index: 2;
  border: none;
  top: 85px;
  border-radius: 5px;
  box-shadow: 0 0 20px var(--color-shadow-dark);
}

.cameraframe-filler {
  /* position:absolute; */
  /* top:0px;
    left:0px; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  width: 200px;
  height: 263px;
  /* z-index: 2; */
  border: none;
  top: 86px;
}

.action-icon {
  position: absolute;
  top: 86px;
  left: 0px;
  /* width: 200px; */
  /* height: 203px; */
  z-index: 3;
  border: none;
}

.action-icon-right {
  position: absolute;
  top: 86px;
  right: 0px;
  /* width: 200px; */
  /* height: 203px; */
  z-index: 3;
  border: none;
  transform: scaleX(-1);
}

.cameraframe-selected-pokemon {
  position: absolute;
  z-index: 5;
  border: none;
  /* top: 145px; */
  top: 160px;
  left: 5px;
  transform: scaleX(-1);
}

.cameraframe-targeted-pokemon {
  position: absolute;
  z-index: 6;
  border: none;
  top: 130px;
  right: 0px;
}

.pokedex-bottom {
  position: absolute;
  width: 200px;
  height: 86px;
  z-index: 10;
  border: none;
  bottom: 0px;
  left: 0px;
}

.pokedex-bottom-weather {
  position: absolute;
  width: 65px;
  height: 65px;
  z-index: 11;
  border: none;
  bottom: 51px;
  left: 68px;
}

.pokedex-bottom-filler {
  width: 200px;
  height: 600px;
  border: none;
  transform: scaleY(-1);
  background: -webkit-linear-gradient(
    rgb(198, 255, 250),
    rgba(198, 255, 250, 0)
  );
}

.pokedex-top {
  position: absolute;
  width: 200px;
  height: 86px;
  z-index: 10;
  border: none;
  top: 0px;
  left: 0px;
}

.pokedex-top-camera {
  position: absolute;
  width: 65px;
  height: 65px;
  z-index: 11;
  border: none;
  top: 51px;
  left: 68px;
}

.pokedex-top-camera-disabled {
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 11;
  border: none;
  top: 52px;
  left: 68px;
  filter: saturate(0%) brightness(0.4);
}

.cameraframe-targeted-pokemon-type1 {
  position: absolute;
  z-index: 6;
  border: none;
  top: 240px;
  right: 5px;
}

.cameraframe-targeted-pokemon-type2 {
  position: absolute;
  z-index: 6;
  border: none;
  top: 258px;
  right: 5px;
}

.cameraframe-selected-pokemon-type1 {
  position: absolute;
  z-index: 6;
  border: none;
  top: 240px;
  left: 5px;
}

.cameraframe-selected-pokemon-type2 {
  position: absolute;
  z-index: 6;
  border: none;
  top: 258px;
  left: 5px;
}

.bossBar {
  width: -webkit-calc(100% - 200px);
}

.ptu-sidebar {
  #moves-list {
    .movemaster-button {
      margin: 3px 0px;
      padding: 0;
      text-align: center;

      .btn-body {
        background-color: #333333;
        color: #cccccc;
        border-left: 5px solid;
        border-color: #cc6666;
        padding-left: 0px;
        width: 200px;
        height: 103px;
        font-size: 24px;
        font-family: "Modesto Condensed";
        line-height: 0.6;

        h3 {
          padding: 0px;
          font-family: "Modesto Condensed";
          font-size: 24px;
          color: white;
          background-color: #272727;
          overflow-wrap: normal !important;
          word-break: keep-all !important;
        }

        .type-bar {
          height:auto;
          border:0px !important;
          width:94px;
          border-width: 0;
          display:flex;

          img {
            border: unset;
          }
        }
        
        .type-img img {
          width: 248px; 
          height: auto; 
          padding: 0px !important;
        }

        .icon-list {
          padding-top: 4px;
          padding-bottom: 0;
          font-size:14px;
          align-items:center;
          justify-content: center;

          span {
            margin: 0 4px;
          }

          img {
            height: 22px ;
            border-width: 0px;
          }
        }
      }
    }
  }
}
