.progress-bar {
  position: relative;
  width: 100%;
  -o-border-image: url("images/progress-frame.png") 1 round;
  border-image: url("images/progress-frame.png") 1 round;
  border-style: solid;
  background-clip: padding-box;
  height: 9px;
}
.progress-bar.p1::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 1%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p2::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 2%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p3::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 3%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p4::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 4%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p5::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 5%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p6::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 6%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p7::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 7%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p8::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 8%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p9::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 9%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p10::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 10%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p11::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 11%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p12::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 12%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p13::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 13%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p14::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 14%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p15::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 15%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p16::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 16%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p17::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 17%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p18::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 18%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p19::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 19%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p20::after {
  content: '';
  display: inline-block;
  background: #B3181C;
  width: 20%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p21::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 21%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p22::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 22%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p23::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 23%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p24::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 24%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p25::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 25%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p26::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 26%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p27::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 27%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p28::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 28%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p29::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 29%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p30::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 30%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p31::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 31%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p32::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 32%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p33::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 33%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p34::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 34%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p35::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 35%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p36::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 36%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p37::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 37%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p38::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 38%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p39::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 39%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p40::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 40%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p41::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 41%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p42::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 42%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p43::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 43%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p44::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 44%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p45::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 45%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p46::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 46%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p47::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 47%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p48::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 48%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p49::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 49%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p50::after {
  content: '';
  display: inline-block;
  background: #F0B088;
  width: 50%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p51::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 51%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p52::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 52%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p53::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 53%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p54::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 54%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p55::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 55%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p56::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 56%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p57::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 57%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p58::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 58%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p59::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 59%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p60::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 60%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p61::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 61%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p62::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 62%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p63::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 63%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p64::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 64%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p65::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 65%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p66::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 66%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p67::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 67%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p68::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 68%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p69::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 69%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p70::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 70%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p71::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 71%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p72::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 72%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p73::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 73%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p74::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 74%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p75::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 75%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p76::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 76%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p77::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 77%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p78::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 78%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p79::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 79%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p80::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 80%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p81::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 81%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p82::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 82%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p83::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 83%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p84::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 84%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p85::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 85%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p86::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 86%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p87::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 87%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p88::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 88%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p89::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 89%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p90::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 90%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p91::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 91%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p92::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 92%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p93::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 93%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p94::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 94%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p95::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 95%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p96::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 96%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p97::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 97%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p98::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 98%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p99::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 99%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar.p100::after {
  content: '';
  display: inline-block;
  background: #48A058;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}