h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 6px 0px;
}

button {
    font-size: 12px;
}

#client-settings section.content .submenu>button {
    font-size: 10px;
}

p {
    &.notes {
        font-size: 10px;
        margin: unset;
    }
}

form .form-group>label {
    font-size: 12px;
}

div#module-management,
div#controls-reference {
    font-family: "Signika", sans-serif;
    font-size: 14px;
    font-variant: normal;
}

a.item {
    font-size: 10px;
    font-weight: bold;
}

#combat #combat-round .encounters h4 {
    font-size: 20px;
}

#combat li.combatant .token-name h4 {
    line-height: 18px;
    font-size: 13px;
}

#chat-controls .control-buttons a {
    width: unset;
    padding: unset;
}

#chat-controls .control-buttons {
    flex: unset;
}

#chat-log .message .message-header .message-metadata {
    font-size: 11px;
}

#combat {

    & h3,
    & h4 {
        padding: 0;
    }
}

.hgss-box {
    border: black solid 1px;
    box-shadow: 0px 0px 4px 1px black;
    background: #E0E8E8;
    word-break: break-all;

    .hgss-header {
        padding: 2px 5px;
        background: #8898A8;
        display: flex;
        &.vertical {
            height: 100%;
            align-items: center;
        }
    }

    .hgss-body {
        padding: 2px 5px;
        display: flex;
    }
}

.name-label {
    content: "";
    width: 35px;
    background: url("./images/pokeball-hgss.png") no-repeat !important;
    background-size: contain !important;
    padding-right: 5px;
}

.level {
    content: "";
    width: 26px;
    background: url("./images/lvl.png") no-repeat !important;
    background-size: contain !important;
    margin: 0 5px 0 10px;
    position: relative;
    bottom: -8px;
    left: -12x;
}

.options .hp {
    width: 6rem;
    background: url("./images/hp.png") no-repeat !important;
    background-size: contain !important;
    margin: 0 5px 0 0px;
    position: relative;
    left: 3px;
    bottom: -10px;
    font-weight: bold;
  }

.window-content {
    background: #E0E8E8 !important;
}

.stat-block {
    border: 1px solid black;
    box-shadow: 0px 0px 3px 1px;
    border-radius: 3%;
}

.panel {
    &.character {
        background: #F06058;
        border-radius: 0 7% 7% 0;
        justify-content: center;
        padding: 15px;



        box-shadow: 0px 0px 3px 1px black;
        border: black solid 2px
    }
}

.macro-sheet {
    font-family: "Signika", sans-serif;
    font-size: 14px;
}

.container-fluid > .sheet-footer {
    position: absolute;
    left: 0;
    bottom: -55px;
    padding: 10px 20px;
    width: 100%;

    .tabs {
        li {
            float: left;
        }

        ul {
            display: inline;
        }

        padding-right: 8px;
    }
}


.grid {
    display: grid;

    column-gap: 8px;
    row-gap: 3px;

    &.character {
        grid-template:
            "panel profile"
            "panel extra"
            "tabs tabs"
            / 65% 35%;
    }



    &.profile {
        grid-area: profile;

        &.character {
            display: grid;
            grid-template:
                "nametag"
                "avatar"
                "helditem";

            padding-right: 8px;
        }

        .nametag {
            grid-area: nametag;
        }

        .avatar {
            text-align: center;

            grid-area: avatar;

            & img {
                max-width: 75%;
                max-height: auto;
            }
        }

        .helditem {
            grid-area: helditem;
        }
    }

    &.panel {
        grid-area: panel;

        &.character {
            display: grid;
            grid-template:
                "stats"
                "abilities"
                "moves";

            background: #F06058;
            border-radius: 0 8% 8% 0;
            justify-content: center;
            padding: 0 10px;

            box-shadow: 1px 1px 10px 2px black;
            border: black solid 3px
        }

        .skills {
            grid-area: stats;
        }

        .abilities {
            grid-area: abilities;
        }

        .moves {
            grid-area: moves;
        }
    }

    &.extra {
        grid-area: extra;

        padding-right: 8px;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.skill-block {
    .header {
        text-align: center;
        font-weight: bold;
    }

    .row {
        white-space: nowrap;

        .skill.bgcolor {
            padding: 12px 5px;
        }

        .type--body {
            background-color: #e06666aa;
        }
        .type--mind {
            background-color: #ffe599aa;
        }
        .type--spirit {
            background-color: #93c47daa;
        }

        .skill--Pathetic {
            background: #cfe2f3;   
        }
        .skill--Untrained {
            background: #9fc5e8;   
        }
        .skill--Novice {
            background: #6fa8dc;   
        }
        .skill--Adept {
            background: #3d85c6;   
        }
        .skill--Expert {
            background: #0b5394;   
            color: #cfe2f3;
        }
        .skill--Master {
            background: #073763;   
            color: #cfe2f3;
        }
        .skill--Invalid {
            background: #ff0F0Faa;
        }
    }
}

.stat-block {
    .row {
        &.header {
            text-align: center;
            background: #E0E8E8;
            font-weight: bold;
        }

        .key {
            &.hp,
            &.def,
            &.spdef {
                background: #788898;
            }
    
            &.atk,
            &.spatk,
            &.spd,
            &.stat-header {
                background: #8898A8;
            }

            
            padding: 13px 0 12px 5px;
        }

        &.hp,
        &.def,
        &.spdef {
            background: #C8D0D8;
        }

        &.atk,
        &.spatk,
        &.spd {
            background: #E0E8E8;
        }
    }
}


.stats {
    width: 100%;
    align-self: center;
    justify-self: center;

    &.stat-block {
        background: #607888;
        border-radius: 2%;
        padding: 3px;
    }

    &.grid {
        display: grid;

        column-gap: 1px;
        row-gap: 3px;

        &.pokemon {
            grid-template:
                [row1-start] "stats-header base-header mod-header levelUp-header stage-header total-header"25px [row1-end] [row2-start] "hp hp-base hp-mod hp-levelUp . hp-total"25px [row2-end] [row3-start] "atk atk-base atk-mod atk-levelUp atk-stage atk-total"25px [row3-end] [row4-start] "def def-base def-mod def-levelUp def-stage def-total"25px [row4-end] [row5-start] "spatk spatk-base spatk-mod spatk-levelUp spatk-stage spatk-total"25px [row5-end] [row6-start] "spdef spdef-base spdef-mod spdef-levelUp spdef-stage spdef-total"25px [row6-end] [row7-start] "spd spd-base spd-mod spd-levelUp spd-stage spd-total"25px [row7-end] / 15% 15% 15% 15% 15% 25%;
        }

        &.player {
            grid-template:
                [row1-start] "stats-header base-header mod-header levelUp-header total-header"25px [row1-end] [row2-start] "hp hp-base hp-mod hp-levelUp hp-total"25px [row2-end] [row3-start] "atk atk-base atk-mod atk-levelUp atk-total"25px [row3-end] [row4-start] "def def-base def-mod def-levelUp def-total"25px [row4-end] [row5-start] "spatk spatk-base spatk-mod spatk-levelUp spatk-total"25px [row5-end] [row6-start] "spdef spdef-base spdef-mod spdef-levelUp spdef-total"25px [row6-end] [row7-start] "spd spd-base spd-mod spd-levelUp spd-total"25px [row7-end] / 15% 20% 20% 20% 25%;
        }

        background: #E0E8E8;
        border-radius: 2%;
        padding: 3px 10px;
    }

    &.header {
        text-align: center;

        &.stats {
            grid-area: stats-header;
        }

        &.base {
            grid-area: base-header;
        }

        &.mod {
            grid-area: mod-header;
        }

        &.levelUp {
            grid-area: levelUp-header;
            font-size: 10px;
        }

        &.stage {
            grid-area: stage-header;
        }

        &.total {
            grid-area: total-header;
        }
    }

    &.base,
    &.mod,
    &.stage,
    &.total {
        padding: 5px;
    }

    &.hp {
        grid-area: hp;

        &.base {
            grid-area: hp-base
        }

        &.mod {
            grid-area: hp-mod
        }

        &.stage {
            grid-area: hp-stage
        }

        &.total {
            grid-area: hp-total
        }

        &.levelUp {
            grid-area: hp-levelUp
        }
    }

    &.atk {
        grid-area: atk;

        &.base {
            grid-area: atk-base
        }

        &.mod {
            grid-area: atk-mod
        }

        &.stage {
            grid-area: atk-stage
        }

        &.total {
            grid-area: atk-total
        }

        &.levelUp {
            grid-area: atk-levelUp
        }
    }

    &.def {
        grid-area: def;

        &.base {
            grid-area: def-base
        }

        &.mod {
            grid-area: def-mod
        }

        &.stage {
            grid-area: def-stage
        }

        &.total {
            grid-area: def-total
        }

        &.levelUp {
            grid-area: def-levelUp
        }
    }

    &.spatk {
        grid-area: spatk;

        &.base {
            grid-area: spatk-base
        }

        &.mod {
            grid-area: spatk-mod
        }

        &.stage {
            grid-area: spatk-stage
        }

        &.total {
            grid-area: spatk-total
        }

        &.levelUp {
            grid-area: spatk-levelUp
        }
    }

    &.spdef {
        grid-area: spdef;

        &.base {
            grid-area: spdef-base
        }

        &.mod {
            grid-area: spdef-mod
        }

        &.stage {
            grid-area: spdef-stage
        }

        &.total {
            grid-area: spdef-total
        }

        &.levelUp {
            grid-area: spdef-levelUp
        }
    }

    &.spd {
        grid-area: spd;

        &.base {
            grid-area: spd-base
        }

        &.mod {
            grid-area: spd-mod
        }

        &.stage {
            grid-area: spd-stage
        }

        &.total {
            grid-area: spd-total
        }

        &.levelUp {
            grid-area: spd-levelUp
        }
    }

}

.levelUpPoints {
    align-items: center;
    text-align: center;

    input {
        color: white;
    }
}

input[name="data.money"] {
    background-image: url(/systems/ptu/css/images/Pokémon_Dollar_sign.svg);
    padding-left: 20px;
    background-size: 12px 16px;
    background-repeat: no-repeat;
    background-position: 2px 4px;
}

.rollable:hover {
    text-shadow: 0 0 10px #ff0000a0;
    cursor: pointer;
}

.dice-tooltip .dice-rolls .roll {
    width: 32px;
    line-height: 23px;
    margin-right: unset;
    background-size: cover;
    font-size: 12px;
}

.skill.col-sm-2 {
    padding-left: 15px !important;
}
.rollable .fa-dice-d20 {
    position: absolute;
    left: 3px;
}

.hgss-body .editor {
    width: 100%;
    min-height: 90px;

    .editor-content {
        max-height:200px;
    }
}

.editor .tox {
    .tox-tbtn {
        height: 24px;
        width: 24px;
        margin-left: 1px;
    }

    .tox-tbtn--select {
        width: auto;
    }
}

.hgss-box {
    &.red {
        background: #EA9999;
        .hgss-header {
        background: #E06666;
        }
    }
    &.yellow {
        background: #FFE599;
        .hgss-header {
        background: #FFD966;
        }
    }
    &.purple {
        background: #D5A6BD;
        .hgss-header {
        background: #C27BA0;
        }
    }
    &.green {
        background: #B6D7A8;
        .hgss-header {
        background: #93C47D;
        }
    }
}

.itemBox {
    background: url(/systems/ptu/css/images/item-box.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;

    img.content {
        position:relative;
        left:60px;
        top:23px;
    }

    .content {
        position: absolute;
        left: 64px;
        top: 14px;
        max-width: 635px;
        word-break: break-word;
        max-height: 123px;
        overflow: auto;
        padding-left: 1px;
        padding-right: 5px;
        line-height: 13px;

        &.with-image {
            max-width: 530px;
            left: 180px;
            padding-right: 7px;
        }
    }
}

.readable {
    font-family: monospace;
    font-variant: normal;
    font-size: 13px;

    &.p11 {
        font-size: 11px;
    }
    &.p12 {
        font-size: 12px;
    }
    &.p14 {
        font-size: 14px;
    }
    &.p15 {
        font-size: 15px;
    }
    &.p16 {
        font-size: 16px;
    }
    &.pokemon {
        font-family: "Pokemon GB";
    }
}

.item-effect {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.flexrow > * {
    flex: 1;
}
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.actor {
    .inventory-list:not(.inventory-header) .item:nth-child(odd) {
        background: #8898a8b3;
    }
    .inventory-list:not(.inventory-header) .item:nth-child(even) {
        background: #788898cc;
    }

    .inventory-list {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        overflow-y: auto;

        .item-summary {
            padding: .5rem;
            border-top: 1px solid #ffffff13;
            flex: 0 0 100%;
        }

        .inventory-header {
            padding-top: 0;
            border: none;
            margin: 0 0 .25rem 0;
            line-height: 20px;
            background: transparent;
            font-weight: bold;

            h3 {
                margin: 0;
                padding: 0;
                font-weight: bold;
            }
        }

        .item-amount {
            flex: 0 0 70px;
            align-self: center;
            margin-right: 5px;
        }

        .item-controls {
            flex: 0 0 55px;
            justify-content: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-self: center;

            a {
                flex: 0 0 18px;
                font-size: 12px;
                text-align: center;
            }
        }

        .item-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .item {
            padding: 0;
            line-height: 30px;
            border: none; 
            border-radius: 5px; 
            margin: 2px 0;

            .item-name {
                max-height: unset;
                cursor: default;
                flex-wrap: nowrap;
                overflow: hidden;

                h4 .info-icon {
                    margin-left: 6px;
                    font-size: 14px;
                    transition: color .3s ease;
                    position: relative;
                    top: 1px;
                }

                h4:hover .info-icon {
                    color: #00000038;
                }
            }
        }
    }
}

.actor .inventory-list .inventory-header .item-controls a.item-create {
    background: #ffffffa6;
    border-radius: 5px;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    line-height: 18px;
    padding-top: 2px;
    flex: 0 0 100%;
}

.actor .inventory-list .item-controls a.item-create:hover {
    background: #788898cc;
    text-shadow: unset;
}