h1, h2, h3, h4, h5, h6 {
    padding: 6px 0px;
}

button {
    font-size: 12px;
}

#client-settings section.content .submenu > button {
    font-size: 10px;
}

p {
    &.notes {
        font-size: 10px;
        margin: unset;
    }
}

form .form-group > label {
    font-size:12px;
}

div#module-management, div#controls-reference {
    font-family: "Signika", sans-serif;
    font-size: 14px;
    font-variant: normal;
}

a.item {
    font-size: 10px;
    font-weight: bold;
}

#combat #combat-round .encounters h4 {
    font-size: 20px;
}

#combat li.combatant .token-name h4 {
    line-height: 18px;
    font-size: 13px;
}

#chat-controls .control-buttons a {
    width: unset;
    padding: unset;
}

#chat-controls .control-buttons {
    flex: unset;
}

#chat-log .message .message-header .message-metadata {
    font-size: 11px;
}

#combat {
    & h3, & h4 {
        padding: 0;
    }
}