# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log
foundry.js

# Release
system.zip
foundry-0.8.3.js

/packs/**/_source/*
/packs/*.json
/packs/.gitignore
/packs/README.md
app/
client
common
