# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log
foundry.js

# Release
system.zip
foundry-0.8.3.js

packs/abilities/

packs/capabilities/

packs/dex-entries/

packs/edges/

packs/fan-game-content/

packs/fan-game-dex/

packs/feats/

packs/habitats/

packs/items/

packs/maneuvers/

packs/moves/

packs/poke-edges/
