<li class="item flexrow" data-entry-uuid="{{entry.uuid}}" data-type="Item">
    <div class="image">
        <img class="" src="{{entry.img}}" onerror="this.src='systems/ptu/css/images/icons/dex_icon.png';this.onerror=null;" title="{{entry.name}}" width="40" height="40" loading="lazy"/>
    </div>
    <div class="name">
        <a class="item-link">{{entry.name}}</a>
    </div>
</li>
