<form
  class="{{cssClass}} container-fluid h-100"
  autocomplete="off"
  style="text-align: center;"
>
	<div class="sheet-body content d-flex align-items-end flex-column h-100">
        <div id="tab-component"></div>
		<div class="d-flex tabbed-content w-100 h-100 mt-2 mb-2">
			{{!-- components go here --}}
            <div id="targets-component" class="d-flex"></div>
            <div id="conditions-component" class="d-flex"></div>
            <div id="effects-component" class="d-flex"></div>
            <div id="settings-component" class="d-flex"></div>
			{{!--  --}}
		</div>
		<div class="w-100 justify-content-between swsh-box mt-auto pt-1 pb-1" style="box-shadow: 0px -2px 8px black; border: unset;">
			<button class="btn" data-value="submit" style="width: fit-content;padding: 0 0.75rem;">Save Changes</button>
		</div>
	</div>
</form>