<form
  class="{{cssClass}} hgss-box readable md"
  autocomplete="off"
>
  <div class="hgss-body">
    <div class="row">
      <div class="col">{{{text}}}</div>
    </div>
    <div style="height: 40px"></div>
  </div>
  <div class="swsh-box" style="border: unset; box-shadow: unset;">
    <div class="swsh-body h-100" style="padding: 5px;">
      <div class="d-flex w-100" style="justify-content: space-evenly;">
        <button data-action="dismiss-till-update">Hide until next update</button>
        <button class="header-button close">Dismiss</button>
      </div>
    </div>
  </div>
</form>
