<form
  class="{{cssClass}} container-fluid"
  autocomplete="off"
  style="text-align: center;"
>
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <label for="data.species">Species:</label>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-sm-10">
      <input type="text" name="data.species" value="{{object.name}}"/>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-sm-8">
      <input type="submit" value="Submit!"/>
    </div>
  </div>
</form>
