<form
  class="{{cssClass}} container-fluid"
  autocomplete="off"
  style="text-align: center;"
>
  <div class="d-flex align-items-end flex-column h-100">
    <div class="w-100 justify-content-center mb-2">
      <label for="data.leve">Level:</label>
    </div>
    <div class="w-100 justify-content-center mb-2">
      <input style="width: 60%;" id="levelField" type="text" name="data.level" value="10"/>
    </div>
    <div class="w-100 justify-content-center mt-auto">
      <input type="submit" value="Submit!"/>
    </div>
  </div>
</form>