<div>
	<div id="" class="header mb-2"><h3 class="pl-1">{{name}}'s Level Up</h3></div>
	<div id="mon-image-component" class="mt-3 mb-3"></div>
	<div id="mon-evolving-component" class="mt-2 mb-2"></div>
	<div id="mon-stat-block-component" class="mt-2 mb-2"></div>
</div>