<form
  class="{{cssClass}} container-fluid"
  autocomplete="off"
  style="text-align: center;"
>
  <div class="swsh-box w-100 h-100">
    <div class="swsh-body h-90">
      {{editor content=object.data.data.notes target="data.notes" button=true owner=true editable=true}}
    </div>
  </div>
</form>