<section class="effects-applied">
    <span class="statement">{{actor.link}} gained the following effects:</span>
    <ul>
        {{#each effects}}
            <li>{{this.link}}</li>
        {{/each}}
    </ul>
</section>
