<form class="{{cssClass}} flexcol framed" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120"/>
        <div class="header-fields">
            <div class="resources">
              <div class="pokemon-header-stats stats-flipped">
                <h2 class="pokemon-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2>
                <div class="options" style="padding-bottom: 5px;">
                    <label for="progressBar" class="hp"></label>
                    <div class="progress-bar p{{data.health.percent}}" id="progressBar"></div>
                </div>
                <div class="resource-content flexrow flex-group-right hp-info">
                  <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
                </div>
                <div class="options level-header">
                    <label for="data.level" class="level"></label>
                    <input style="display: flex;" type="text" name="data.level" value="{{data.level}}" data-dtype="Number"/>
                </div>
              </div>
          </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <ul class="sheet-tabs tabs pokemon-nav framed no-hd buttons compact" data-group="primary">
        <li><button class="item" data-tab="stats">Stats</button></li>
        <li><button class="item" data-tab="biography">Biography</button></li>
    </ul>

    {{!-- Sheet Body --}}
    <section class="sheet-body no-hd">

      {{!-- Stats Tab --}}
      <div class="tab details pkmn" data-group="primary" data-tab="stats">
        <div class="skills framed">
          <div class="skills grid player">
            <div class="skills header stats">Stats</div>
            <div class="skills header base">Base</div>
            <div class="skills header mod">Feats</div>
            <div class="skills header levelUp">Level-Up</div>
            <div class="skills header total">Total</div>
            {{#each data.stats as |stat key|}}
              <div class="skills {{key}}"><label for="data.stats.{{key}}.value" class="resource-label">{{key}}</label></div>
              <div class="skills {{key}} base"><input type="text" name="data.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/></div>
              <div class="skills {{key}} mod"><input type="text" name="data.stats.{{key}}.mod" value="{{stat.mod}}" data-dtype="Number"/></div>
              <div class="skills {{key}} levelUp"><input type="text" name="data.stats.{{key}}.levelUp" value="{{stat.levelUp}}" data-dtype="Number"/></div>
              <div class="skills {{key}} total"><input type="text" name="data.stats.{{key}}.total" value="{{stat.total}}" data-dtype="Number" disabled/></div>
            {{/each}}
          </div>
        </div>
          <!--div class="types stats-flipped">
              <div class="ability flexrow flex-group-center">
                  <label for="data.type.primary.value" class="resource-label">Type1</label>
                  <input type="text" name="data.type.primary.value" value="{{data.type.primary.value}}" />
                  <!-- <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span> -->
                <!--/div>
                <div class="ability flexrow flex-group-center">
                    <label for="data.type.secondary.value" class="resource-label">Type2</label>
                    <input type="text" name="data.type.secondary.value" value="{{data.type.secondary.value}}" />
                  <!-- <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span> -->
                <!--/div>
          </div-->
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography framed no-hd" data-group="primary" data-tab="biography">
            {{editor content=data.biography.personality target="data.biography.personality" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>

