<form
  class="{{cssClass}} container-fluid"
  autocomplete="off"
  style="padding-left: unset;"
>
  <div class="row justify-content-between" style="height: 86%;">
    <div class="col-sm-12 col-md-8" style="padding-left: unset;">
      <div class="panel character h-100">
        <div class="sheet-body no-hd h-100">
          <div class="tab details stats h-100" data-group="primary" data-tab="stats">
            <div class="d-flex align-items-end flex-column h-100">
              <div class="w-100 stats stat-block mb-2">
                  <div class="row no-gutters header">
                    <div class="col-sm-2 pt-2 pb-2 key stat-header">Stats</div>
                    <div class="col-sm-2 mt-2 mb-2">Base</div>
                    <div class="col-sm-2 mt-2 mb-2">Feats</div>
                    <div class="col-sm-3 mt-2 mb-2">Level-Up</div>
                    <div class="col-sm-3 mt-2 mb-2">Total</div>
                  </div>
                  {{#each data.stats as |stat key|}}
                    <div class="row no-gutters {{key}}">
                      <div class="stats {{key}} col-sm-2 key">
                        <label for="data.stats.{{key}}.value" class="resource-label"
                          >{{key}}</label
                        >
                      </div>
                      <div class="stats {{key}} base col-sm-2">
                        <input
                          type="text"
                          name="data.stats.{{key}}.value"
                          value="{{stat.value}}"
                          data-dtype="Number"
                        />
                      </div>
                      <div class="stats {{key}} mod col-sm-2">
                        <input
                          type="text"
                          name="data.stats.{{key}}.mod"
                          value="{{stat.mod}}"
                          data-dtype="Number"
                        />
                      </div>
                      <div class="stats {{key}} levelUp col-sm-3">
                        <input
                          type="text"
                          name="data.stats.{{key}}.levelUp"
                          value="{{stat.levelUp}}"
                          data-dtype="Number"
                        />
                      </div>
                      <div class="stats {{key}} total col-sm-3">
                        <input
                          type="text"
                          name="data.stats.{{key}}.total"
                          value="{{stat.total}}"
                          data-dtype="Number"
                          disabled
                        />
                      </div>
                    </div>
                    {{/each}}
              </div>
              <div class="w-100 level-box mb-2">
                <div class="hgss-box" style="text-align: center; word-break: keep-all;">
                  <div class="hgss-header">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-4">
                        <label for="data.level.milestones">Milestones:</label>
                        </div>
                      <div class="col-sm-4">
                        <label for="data.level.dexexp">Dexexp:</label>
                        </div>
                      <div class="col-sm-4">
                        <label for="data.level.current">Level:</label>
                        </div>
                    </div>
                  </div>
                  <div class="hgss-body" >
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-4">
                        <input type="text" name="data.level.milestones" value="{{data.level.milestones}}" data-dtype="Number"/>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" name="data.level.dexexp" value="{{data.level.dexexp}}" data-dtype="Number"/>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" name="data.level.current" value="{{data.level.current}}" data-dtype="Number" disabled/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hgss-box mt-auto w-100">
                <div class="hgss-header">
                  Skills
                </div>
                <div class="hgss-body">
                  <i>Skills Table</i>
                </div>
              </div>
            </div>
          </div>
          <div class="tab details inventory" data-group="primary" data-tab="inventory">
            <div class="row">
              <div class="col">
                <p>Inventory</p>
              </div>
            </div>
          </div>
          <div class="tab details feats" data-group="primary" data-tab="feats">
            <div class="row">
              <div class="col">
                <p>Feats</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Edges</p>
              </div>
            </div>
          </div>
          <div class="tab details extra" data-group="primary" data-tab="extra">
            <div class="row">
              <div class="col">
                <p>Extra</p>
              </div>
            </div>
          </div>
          <div class="tab details biography" data-group="primary" data-tab="biography">
            <div class="row">
              <div class="col">
                <p>Biography</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4" style="">
      <div class="d-flex align-items-center flex-column h-100 pt-4">
        <div class="hgss-box mb-auto">
          <div class="hgss-header" style="align-items: unset;">
            <label for="name" class="name-label"></label>
            <input class="ml-2"
              name="name"
              type="text"
              value="{{actor.name}}"
              placeholder="Name"
            />
          </div>
          <div class="hgss-body row no-gutters">
            <div class="options w-100 d-flex">
              <label for="progressBar" class="hp"></label>
              <div class="d-flex pt-1 pb-1" style="text-align: center;">
                <input class="ml-1 mr-1" type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span style="font-size: 20px;"> / </span>
                <input class="ml-1" type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" disabled/>
              </div>
            </div>
            <div class="options w-100 pb-1 pt-1">
              <div class="progress-bar p{{data.health.percent}}" id="progressBar"></div>
            </div>
          </div>
        </div>
        <div class="avatar m-auto">
          <img
            class="profile-img"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
          />
        </div>
        <div class="hgss-box mt-auto" style="text-align: center;">
          <div class="hgss-header">
            <h3 class="m-auto">Action Points</h3>
          </div>
          <div class="hgss-body">
            <div class="resource-content flexrow flex-group-right hp-info">
              <input type="text" name="data.ap.value" value="{{data.ap.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="data.ap.total" value="{{data.ap.total}}" data-dtype="Number" disabled/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet-footer">
    <div class="tabs">
      <ul class="sheet-tabs tabs buttons" data-group="primary">
        <li><button class="item" data-tab="stats">Stats</button></li>
        <li><button class="item" data-tab="inventory">Inventory</button></li>
        <li><button class="item" data-tab="feats">Feats</button></li>
        <li><button class="item" data-tab="extra">Extra</button></li>
        <li><button class="item" data-tab="biography">Bio</button></li>
        <li><button class="item" data-tab="dex" disabled>Dex</button></li>
      </ul>
    </div>
  </div>
</form>
