<div class="search-body d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column" style="justify-content: space-between; overflow: scroll;">
      
      <main class="px-3">
        <h1 style="color: white;">Search for data</h1>
        <div class="searchapp">
          <div class="jsonsearch">
            <input
              name="jsonsearchinput"
              class="jsonsearchinput"
              autocomplete="off"
              placeholder="Search"
              type="text"
              autofocus
            />
            <!-- Shown only if results.length > 0 -->
            <div id="searchresults" style="display: none">
              <h3>N results</h3>
              <ol>
                <div class="result">
                  <div class="title">
                    <a>Result title</a>
                  </div>
                </div>
              </ol>
            </div>
          </div>
        </div>
      </main>

      <main class="px-3 mb-2" style="flex: 0 0 50%; padding-top:1rem;">
        <div class="data-view">
        </div>
      </main>

      <footer class="mt-auto text-white-50">
        <p>
          PTR Data Search A front-end for the
          <a
            href="https://github.com/pokemon-tabletop-reunited"
            class="text-white"
            >Pokemon Tabletop Reunited</a
          >
          <a
            href="https://github.com/pokemon-tabletop-reunited/PTR-Data"
            class="text-white"
            >DataSource</a
          >.
        </p>
      </footer>
    </div>
  </body>