<form>
    <div class="ptu-sidebar" style="text-align: center;">
        <div class="pokedex-top">
            <img class='pokedex-top' src='systems/ptu/images/icons/NewPokedex_Vertical_Top_200.png' />
            <img title='' src='systems/ptu/images/icons/Pokedex_Camera.png' class='pokedex-top-camera-disabled' />
        </div>
        <div class="sidebar-content">
            <div id="belt-component"></div>
            <div id="pokedex-component"></div>
            <div id="abilities-list"></div>
            <div id="moves-list"></div>
            <div id="features-list"></div>
            <div id="items-list"></div>
        </div>
        <div class="pokedex-bottom">
            <img class='pokedex-bottom' src='systems/ptu/images/icons/NewPokedex_Vertical_Bottom_200.png' />
        </div>
    </div>
</form>