{{#with data}}
    <form class="{{cssClass}}" autocomplete="off">
        <header class="sheet-header mb-2">
            <div class="itemBox">
                <div class="content">
                    Effect: <span class="readable p11 pokemon">{{{system.effect}}}</span>
                </div>
            </div>
        </header>

        {{!-- Sheet Body --}}
        <div class="sheet-body">
            <div class="details readable h-100">
                <div style="display: grid; grid-template-columns: 45% 50%; justify-content: space-between; padding: 0 5px;">
                    <div class="hgss-box align-items-center" style="display: grid; grid-template-columns: 40% 60%;">
                        <div class="hgss-header vertical">
                            <label for="name">Name:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="name"
                                type="text"
                                value="{{name}}"
                                placeholder="Name"
                            />
                        </div>

                        <div class="hgss-header vertical">
                            <label for="system.origin">Origin:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.origin"
                                type="text"
                                value="{{system.origin}}"
                                placeholder="Level-Up"
                            />
                        </div>

                        {{#if (is "true" (getGameSetting "useTutorPoints"))}}
                        <div class="hgss-header vertical">
                            <label for="system.cost">Cost:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.cost"
                                type="text"
                                value="{{system.cost}}"
                                placeholder="0"
                            />
                        </div>
                        {{/if}}
                    </div>
                    <div class="hgss-box align-items-center">
                        <div class="hgss-header mb-1 " style="padding: 6px 5px;">
                            <label for="system.effect">Effect:</label>
                        </div>
                        <div class="hgss-body" style="word-break: break-word;">
                            <textarea
                                class="ml-2"
                                name="system.effect">{{system.effect}}</textarea>
                        </div>
                        <div class="hgss-header mt-1 mb-1 " style="padding: 5px 5px;">
                            <label for="system.snippet">Snippet:</label>
                        </div>
                        <div class="hgss-body" style="word-break: break-word;">
                            <textarea
                                class="ml-2"
                                name="system.snippet">{{system.snippet}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/with}}