<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header mb-2">
        <div class="itemBox">
            <div class="content move-grid">
                Frequency: <span class="readable pokemon p11">{{data.frequency}}</span>
                DB: <span class="readable pokemon p11 rollable" data-roll="{{calcDbCalc data}}" data-label="{{item.name}}" data-ac="{{calcAc data}}" data-type="{{data.category}}"> <i class="fas fa-dice-d20" style="position:unset;margin-left:-33px;"></i> {{calcDb data}}: {{calcDbCalc data}} </span>
                Category: <span class="readable pokemon p11">{{data.category}}</span> 
                Type: <span class="readable pokemon p11">{{data.type}}</span> 
                AC: <span class="readable pokemon p11">{{data.ac}}</span>
                Range: <span class="readable pokemon p11">{{data.range}}</span>
                <span>Effect: <span class="readable p11 pokemon">{{{data.effect}}}</span></span>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <div class="sheet-body">
        <div class="details readable h-100">
            <div style="display: grid; grid-template-columns: 45% 50%; justify-content: space-between; padding: 0 5px;">
                <div class="hgss-box align-items-center" style="display: grid; grid-template-columns: 40% 60%;">
                    <div class="hgss-header vertical">
                        <label for="name">Name:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="name"
                            type="text"
                            value="{{item.name}}"
                            placeholder="Name"
                        />
                    </div>

                    <div class="hgss-header vertical">
                        <label for="data.origin">Origin:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="data.origin"
                            type="text"
                            value="{{data.origin}}"
                            placeholder="Level-Up"
                        />
                    </div>

                    <div class="hgss-header vertical">
                        <label for="data.type">Type:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="data.type"
                            type="text"
                            value="{{data.type}}"
                            placeholder=""
                        />
                    </div>

                    <div class="hgss-header vertical">
                        <label for="data.category">Category:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="data.category"
                            type="text"
                            value="{{data.category}}"
                            placeholder=""
                        />
                    </div>

                    <div class="hgss-header vertical">
                        <label for="data.ac">AC:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="data.ac"
                            type="text"
                            value="{{data.ac}}"
                            placeholder=""
                        />
                    </div>

                    <div class="hgss-header vertical">
                        <label for="data.range">Range:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="data.range"
                            type="text"
                            value="{{data.range}}"
                            placeholder=""
                        />
                    </div>
                </div>
                <div class="hgss-box align-items-center">
                    <div class="hgss-header mb-1" style="padding: 6px 5px;">
                        <label for="data.frequency">Frequency:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="data.frequency"
                            type="text"
                            value="{{data.frequency}}"
                            placeholder=""
                        />
                    </div>
                    <div class="hgss-header mt-1 mb-1" style="padding: 7px 5px;">
                        <label for="data.damageBase">Damage Base:</label>
                    </div>
                    <div class="hgss-body">
                        <input
                            class="ml-2"
                            name="data.damageBase"
                            type="text"
                            value="{{data.damageBase}}"
                            placeholder=""
                        />
                    </div>
                    <div class="hgss-header mt-1 mb-1 " style="padding: 5px 5px;">
                        <label for="data.effect">Effect:</label>
                    </div>
                    <div class="hgss-body" style="word-break: break-word;">
                        <textarea
                            class="ml-2"
                            name="data.effect">{{data.effect}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
